@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    background: #26272B;
}
.imageContainer {
    clip-path: polygon(0% 30%, 30% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);

  }
imageContainer2{
    clip-path: polygon(0% 30%, 30% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 80%);
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;


