@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;

@font-face {
    font-family: "Clash";
    font-weight: bold;
    src: url("../../public/fonts/ClashDisplay-Bold.otf");

}

@tailwind utilities;